* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  overflow: hidden;
  display: flex;
  color: #423745;
  font-family: "Montserrat Alternates", sans-serif; }

button, input {
  font-family: "Montserrat Alternates", sans-serif; }

a {
  text-decoration: none; }

aside {
  width: 25%;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  height: 100vh;
  position: fixed; }

.nav-link {
  color: #423745;
  display: inline-block;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .nav-link:hover {
    background: rgba(255, 255, 255, 0.3); }

.create-plan {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: 16px;
  outline: none;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  box-shadow: 2px 2px 5px #91a8d0;
  color: #423745;
  text-align: center; }

main {
  width: calc(100vw - 25%);
  padding: 50px;
  margin-left: 25%; }

h1, h2 {
  text-align: center;
  color: #423745; }

h1 {
  margin-bottom: 20px; }

h2 {
  margin-bottom: 50px; }

.button-box {
  display: flex;
  justify-content: space-between;
  width: 400px; }

.create-list, .create-timetable, .show-timetable {
  padding: 10px;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: 16px;
  outline: none;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  box-shadow: 2px 2px 5px #91a8d0;
  color: #423745;
  text-align: center; }

/*.create-timetable
	margin-left: 20px*/
.weekly-list {
  list-style: none;
  background: #ffdcdb;
  padding: 20px 20px 10px 20px;
  width: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px #91a8d0; }

.weekly-list-item {
  text-transform: lowercase;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }

.delete-button, .add-task, .save-list {
  height: 27px;
  padding: 5px 10px;
  outline: none;
  border: none;
  color: #423745;
  font-size: 14px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0; }

.delete-button {
  margin-left: 10px; }

.add-task, .save-list {
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea); }

.input-box {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.new-task {
  outline: none;
  border: 1px solid #8a7890;
  border-radius: 5px;
  width: 270px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 27px;
  box-shadow: 1px 1px 5px #91a8d0; }

.add-task {
  width: 112px;
  text-align: center; }

.banner {
  text-align: center; }
  .banner p {
    margin-bottom: 50px; }
  .banner a {
    padding: 10px;
    border-radius: 10px;
    text-transform: lowercase;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
    box-shadow: 2px 2px 5px #91a8d0;
    color: #423745;
    text-align: center; }

.form-container {
  height: 27px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #91a8d0;
  cursor: pointer; }

.is-saved {
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea); }

.is-active {
  height: auto;
  overflow: visible; }

.choose-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  background: #ffffff;
  padding: 5px 10px;
  border: none;
  color: #423745;
  font-size: 14px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0; }
  .choose-day input {
    margin-right: 5px; }

.change-list, .save-timetable {
  padding: 10px;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: 16px;
  outline: none;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  box-shadow: 2px 2px 5px #91a8d0;
  color: #423745;
  text-align: center; }

.weekly-timetable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.weekly-timetable-item {
  width: 250px;
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  box-shadow: 2px 2px 5px #91a8d0;
  color: #423745;
  text-align: center;
  border-radius: 10px; }

.layout-section {
  width: 100%;
  overflow: hidden;
  min-height: 600px; }

.layout-center {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-flex__column {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.layout-flex__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hide {
  display: none; }

ul {
  list-style: none; }
