.color-btn {
  min-width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: lowercase;
  font-family: "Amatic SC", sans-serif;
  font-size: 26px;
  outline: none;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  box-shadow: 2px 2px 5px #91a8d0;
  color: #6B6665;
  text-align: center; }

.white-btn {
  height: 27px;
  padding: 0px 10px;
  outline: none;
  border: none;
  color: #6B6665;
  font-family: "Amatic SC", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0; }

.color-btn-narrow {
  font-size: 22px;
  font-family: "Amatic SC", sans-serif;
  height: 35px;
  width: 112px;
  text-align: center;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0; }

.ok-btn {
  font-size: 22px;
  font-family: "Amatic SC", sans-serif;
  height: 27px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0;
  margin-top: 5px; }

.button-box {
  display: flex;
  justify-content: space-between;
  width: 400px; }

.input-box {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.new-task {
  outline: none;
  border: 1px solid #8a7890;
  border-radius: 5px;
  width: 270px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  box-shadow: 1px 1px 5px #91a8d0;
  font-family: "Amatic SC", sans-serif;
  font-size: 22px; }

.weekly-list {
  list-style: none;
  background: #ffffff;
  padding: 20px 20px 10px 20px;
  width: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 2px 9px #91a8d0; }

.weekly-list-item {
  text-transform: lowercase;
  font-size: 22px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; }

.form-container {
  height: 35px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #91a8d0;
  cursor: pointer; }

.is-active {
  height: auto;
  overflow: visible; }

.choose-day {
  min-width: 121px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  padding: 5px 10px;
  border: none;
  color: #6B6665;
  font-size: 22px;
  border-radius: 5px;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #91a8d0; }
  .choose-day input {
    margin-right: 5px;
    border: none;
    outline: none; }
  .choose-day label {
    margin-bottom: 5px; }

.weekly-timetable {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.weekly-timetable-item {
  width: 200px;
  min-height: 200px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 3px 2px 9px #91a8d0;
  color: #6B6665;
  border-radius: 10px;
  padding: 10px;
  font-size: 22px; }
  .weekly-timetable-item h3 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  overflow: hidden;
  display: flex;
  font-family: "Amatic SC", sans-serif;
  background: linear-gradient(to bottom, #ffdcdb, #b4c8ea);
  min-height: 100vh;
  padding: 5px 10px;
  color: #6B6665; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px; }

main {
  width: calc(100vw - 285px);
  padding: 10px 30px;
  margin-left: 285px;
  position: relative;
  background: #ffffff;
  border-radius: 3px; }

.hide {
  display: none; }

.banner {
  text-align: center; }
  .banner p {
    margin-bottom: 50px;
    font-size: 26px; }

.project-description {
  margin-bottom: 20px; }
  .project-description p {
    font-size: 26px;
    margin-bottom: 10px; }

aside {
  width: 285px;
  height: 100vh;
  position: fixed;
  padding-top: 10px;
  padding-right: 10px; }

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-link {
  color: #6B6665;
  display: inline-block;
  font-size: 26px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #BFACAB; }
  .nav-link:hover {
    background: rgba(255, 255, 255, 0.3); }
  .nav-link i {
    margin-right: 10px; }

.reset-banner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #91a8d0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  top: 40px;
  left: -50px;
  padding: 30px 20px;
  transition: 1s;
  font-size: 22px; }
  .reset-banner p {
    margin-bottom: 20px; }
