aside
	width: 285px
	height: 100vh
	position: fixed
	padding-top: 10px
	padding-right: 10px

.main-nav
	display: flex
	flex-direction: column
	justify-content: space-between

.nav-link
	color: $dark-font
	display: inline-block
	font-size: 26px
	padding-left: 25px
	padding-top: 10px
	padding-bottom: 10px
	border-bottom: 1px solid #BFACAB
	&:hover
		background: rgba(255,255,255, 0.3)
	i
		margin-right: 10px

//баннер подсказка про изменение списка дел
.reset-banner
	position: absolute
	width: 200px
	height: 200px
	border-radius: 5px
	box-shadow: 1px 1px 5px $shadow-color
	background: rgba(255,255,255,0.9)
	text-align: center
	top: 40px
	left: -50px
	padding: 30px 20px
	transition: 1s
	font-size: 22px
	p
		margin-bottom: 20px