aside
	width: 200px
	background: $light-font;
	height: 100vh

.nav-link
	color: $dark-font
	display: inline-block
	font-size: 20px
	padding-left: 25px
	padding-top: 10px
	padding-bottom: 10px
	&:hover
		background: rgba(255,255,255, 0.3)

.create-plan
	display: inline-block
	margin-top: 50px
	height: 27px
	padding: 5px 10px
	outline: none
	border: none
	//background: $light-font
	color: $dark-font
	font-size: 14px
	border-radius: 5px
	text-transform: lowercase
	box-shadow: 1px 1px 5px $menu-color

main
	width: calc(100vw - 200px)
	padding: 50px

h1,h2
	text-align: center
	color: $dark-font;
h1
	margin-bottom: 20px
h2
	margin-bottom: 50px