.banner
	text-align: center
	p
		margin-bottom: 50px
	a
		//margin-top: 50px
		padding: 10px
		border-radius: 10px
		text-transform: lowercase
		font-size: 16px
		outline: none
		background: $gradient-color
		box-shadow: 2px 2px 5px $shadow-color
		color: $dark-font
		text-align: center

.choose-day
	height: 27px
	padding: 5px 10px
	outline: none
	border: none
	color: $dark-font
	font-size: 14px
	border-radius: 5px
	text-transform: lowercase
	box-shadow: 1px 1px 5px $shadow-color

.change-list, .save-timetable
	padding: 10px
	border-radius: 10px
	text-transform: lowercase
	font-size: 16px
	outline: none
	background: $gradient-color
	box-shadow: 2px 2px 5px $shadow-color
	color: $dark-font
	text-align: center

.weekly-timetable
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.weekly-timetable-item
	width: 250px
	min-height: 200px
	margin-top: 10px
	margin-bottom: 10px
	background: $gradient-color
	box-shadow: 2px 2px 5px $shadow-color
	color: $dark-font
	text-align: center
	border-radius: 10px